
.contactUsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

    .contactFormLight {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 10fr;
        background: #FFFFFF;
        box-shadow: 0px 1px 36px rgba(0, 0, 0, 0.08);
        height: 84vh;
        padding: 0px 50px 30px 50px;
    }

    .contactFormDark {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 10fr;
        background-color: #18151B;
        height: 84vh;
        padding: 0px 50px 0px 50px;
    }

    .contactFormTop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .contactFormTitle {
        font-weight: 500;
    }

    .contactFormSubtitle {
        font-weight: 400;
        color: #9C9C9C;
    }

    .formElements {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2.5fr;
        row-gap: 12px;
    }

    .formInputLight {
        border: 1px solid #EAEAEA;
        background: #FFFFFF;
        font-size: 16px;
        color: black;
        padding: 20px;
    }

    .formInputDark {
        border: 1px solid #2B272E;
        background-color: #1C1A1F;
        font-size: 16px;
        color: white;
        padding: 20px;
    }

    .formInputLight::placeholder {
        color: #5A5A5A;
    }

    .formInputDark::placeholder {
        color: #5A5A5A;
    }

    

    .messageInputLight {
        border: 1px solid #EAEAEA;
        background: #FFFFFF;
        font-size: 16px;
        color: black;
        padding: 0px 20px 100px 20px;
    }

    .messageInputLight::placeholder {
        color: #5A5A5A;
    }

    .messageInputDark {
        border: 1px solid #2B272E;
        background-color: #1C1A1F;
        font-size: 16px;
        color: white;
        padding: 0px 20px 100px 20px;
    }

    .messageInputDark::placeholder {
        color: #5A5A5A;
    }

    .checkBoxGroup {
        display: grid;
        grid-template-columns: 1fr 20fr;
        grid-template-rows: 1fr;
        align-content: center;
    }

    .checkBox {
        width: 20px;
        height: 20px;
    }

    .checkBoxText {
        margin: 0 0 20px 0;
        padding: 0;
        color: #9C9C9C;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        align-self: flex-start;
    }

    .contactImage {
        width: 40vw;
        height: 60vh
    }


/* Large Display i.e monitor */
@media only screen and (max-width: 5000px) {
    .contactImage {
        width: 35vw;
        height: 45vh;   
    }

    .contactFormLight {
        height: 40vh;
    }

    .contactFormDark {
        height: 40vh;
    }
}

@media only screen and (max-width: 2500px) {
    .contactImage {
        width: 35vw;
        height: 45vh;   
    }

    .contactFormLight {
        height: 45vh;
    }

    .contactFormDark {
        height: 45vh;
    }
}

/* Standard Display i.e laptop*/
@media only screen and (max-width: 2000px) {
    .contactImage {
        width: 40vw;
        height: 80vh;   
    }

    .contactFormLight {
        height: 80vh;
    }

    .contactFormDark {
        height: 80vh;
    }
}

/* Standard Display i.e laptop*/
@media only screen and (max-width: 1500px) {
    .contactImage {
        width: 35vw;
        height: 60vh;   
        margin-right: 1vw;
    }

    .contactFormLight {
        height: 45vh;
        padding-bottom: 65vh;
    }

    .contactFormDark {
        height: 45vh;
        padding-bottom: 65vh;
    }
}

@media only screen and (max-width: 1500px) and (max-height: 850px) {
    .contactImage {
        width: 45vw;
        height: 79.5vh;   
        margin-right: 1vw;
    }

    .contactFormLight {
        height: 15vh;
        padding-bottom: 65vh;
    }

    .contactFormDark {
        height: 45vh;
        padding-bottom: 65vh;
    }
}

/* Tall Display i.e Monitor in Portrait Mode */
@media only screen and (max-width: 1500px) and (min-height: 2000px) {
    .contactImage {
        width: 45vw;
        height: 50vh;   
    }
}

/* Mobile Display */
@media only screen and (max-width: 1010px) {
    .contactUsGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        max-height: 100vh;
        justify-items: center;
        margin-bottom: -7vh;
    }

    .contactImage {
        width: 87vw;
        height: 50vh;
        margin-bottom: 3vh; 
    }

    .contactFormLight {
        padding-top: 3vh;
        margin-bottom: 50vh;
    }

    .contactFormDark {
        padding-top: 3vh;
        margin-bottom: 50vh;
    }
}

/* Small Mobile Display */
@media only screen and (max-width: 850px) {
    .chooseSubTitle {
        margin-bottom: 2vh;
    }

    .contactUsGrid {
        margin-bottom: 7vh;
    }
}

/* Very Small Mobile Display */
@media only screen and (max-width: 500px) {
    .contactUsGrid {
        margin-bottom: 53vh;
    }

    .contactFormDark {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        max-width: 97%;
        margin-top: 5vh;
        margin-left: 0;
        justify-self: start;
        align-self: flex-start;
        padding: 0;
        padding-top: 50px;
        padding-bottom: 575px;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .contactFormLight {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        max-width: 97%;
        margin-top: 5vh;
        margin-left: 0;
        justify-self: start;
        align-self: flex-start;
        padding: 0;
        padding-top: 50px;
        padding-bottom: 575px;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .contactFormSubtitle {
        margin-bottom: 10px;
    }


}

/* Tiny Mobile Display */
@media only screen and (max-width: 400px) {
    
}

/* Dumb Phone Mobile Display */
@media only screen and (max-width: 370px) {
}

/* Smallest Mobile Display */
@media only screen and (max-width: 350px) {
    .contactFormLight {
        padding-bottom: auto;
    }


    .contactUsGrid {
        margin-bottom: 80vh;
    }
}

/* Mobile Landscape Display */
@media only screen and (min-width: 700px) and (max-height: 700px) {
    .contactImage {
        width: 50vw;
        height: 110vh;   
    }

   
}
