.footerBoxLight {
    background-color: #FBFBFB;
    padding: 100px;
}

.footerBoxDark {
    background-color: #211F24;
    padding: 100px;
}


.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr;
}

.sectionHeader {
    font-size: 14px;
    font-weight: 600;
}

.sectionText {
    font-size: 14px;
    font-weight: 300;
    color: #9C9C9C;
}

.logoText {
    font-size: 14px;
    font-weight: 300;
    color: #9C9C9C;
    width: 50%;
    margin-top: 20px;
}

.linkSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.subscribeSection {
    justify-self: end;
}

.subscribeInputLight {
    width: 293px;
    height: 44px;
    color: black;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    text-align: center;
}



.subscribeInputDark {
    width: 293px;
    height: 44px;
    color: white;
    font-size: 16px;
    background: #28262A;
    border: 1px solid #383639;
    text-align: center;
}

.subscribeButton {
    width: 140px;
    height: 47px;
    border-style: none;
    color: white;
    font-size: 16px;
    background: linear-gradient(229.76deg, #00C2CB -61.91%, #00C2CB 34.74%, #2A45A3 97.61%);
    margin: 0;
}

.subscribedButton {
    width: 140px;
    height: 47px;
    border-style: none;
    color: white;
    font-size: 16px;
    background: linear-gradient(229.76deg, #01767c -61.91%, #017379 34.74%, #1b2e72 97.61%);
    margin: 0;
}

.formInput {
    border: 1px solid #383639;
    background-color: #28262A;
}

.hr {
    opacity: 0.2;

}

.conditionSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.conditionsText {
    font-size: 12px;
    font-weight: 300;
    color: #9C9C9C;
}

.termsPolicy {
    display: grid;
    width: 217px;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: end;
    justify-self: end;
}

@media only screen and (max-width: 1200px) {

    .subscribeSection {
        margin-left: 50px;
    }

    .subscribeInputLight {
    width: 175px;
    height: 35px;
    color: black;
    font-size: 14px;
    }

    .subscribeButton {
        width: 75px;
        height: 39px;
        font-size: 14px;
    }


}

@media only screen and (max-width: 1010px) {

    .logo {
        margin-top: 20px;
    }

    .footerBoxLight {
        padding: 0;
    }

    .footerBoxDark {
        padding: 0;
    }

    .footerGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
    }

    .logoText {
        font-size: 14px;
        font-weight: 300;
        color: #9C9C9C;
        width: 50%;
        text-align: center;
    }

    .linkSection {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    .hr {
        margin-bottom: 30px;
    }

    .conditionSection {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0;
        padding: 0;
        
    }

    .empty {
        display: none;
    }

    .termsPolicy {
        display: grid;
        width: auto;
        grid-template-columns:  1fr;
        grid-template-rows: 1fr fr;
        justify-items: center;
        justify-self: center;
    }

    .subscribeSection {
        justify-self: auto;
        margin: 0;
        padding: 0;
    }

    .subscribeInputSection {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        margin: 0;
        padding: 0;
    }

    .logoSection {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .subscribeInputLight {
        width: auto;
        margin: auto;
        text-align: center;
        margin: auto;
        justify-items: center;
    }

    .subscribeInputDark {
        width: auto;
        margin: auto;
        text-align: center;
        margin: auto;
        justify-items: center;
    }

    .sectionHeader {
        text-align: center;
    }

    .sectionText {
        text-align: center;
    }

    .subscribeButton {
        width: 198px;
        height: 47px;
        border-style: none;
        color: white;
        font-size: 16px;
        background: linear-gradient(229.76deg, #00C2CB -61.91%, #00C2CB 34.74%, #2A45A3 97.61%);
        margin: 0;
        padding: 0;
    }

    .footerGrid {
        justify-items: center;
    }

    .conditionsText {
        text-align: center;
    }


}

