.headerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}

.image {
    grid-column: 1;
}

.navbar {
    grid-column: 1fr;
    grid-row: 1fr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.darkTouch {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.dlMode {
    justify-self: end;
    margin-right: 30px;
    margin-left: 30px;
}

.headerButton {
    width: 160px;
    height: 44px;
    background: linear-gradient(229.76deg, #00C2CB -61.91%, #00C2CB 34.74%, #2A45A3 97.61%);
    border-style: none;
    font-size: 16px;
    color: white;
}

@media only screen and (max-width: 1000px) {

    .headerGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .navbar {
        display: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .headerButton {
        display: none;
    }
}