.headerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}

.image {
    grid-column: 1;
}

.navbar {
    grid-column: 1fr;
    grid-row: 1fr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.darkTouch {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.dlMode {
    justify-self: end;
    margin-right: 30px;
    margin-left: 30px;
}

.hamburgerLines {
    display: none
}

.headerButton {
    width: 160px;
    height: 44px;
    background: linear-gradient(229.76deg, #00C2CB -61.91%, #00C2CB 34.74%, #2A45A3 97.61%);
    border-style: none;
    font-size: 16px;
    color: white;
}

@media only screen and (max-width: 5000px) {
    .darkTouch {
        column-gap: 20px;
    }
}

@media only screen and (max-width: 1500px) {
    .darkTouch {
        column-gap: 20px;
    }
}

@media only screen and (max-width: 1000px) {



    .navbar {
        display: none;
        margin: 0;
        padding: 0;
    }

    .headerButton {
        display: none;
    }

    .darkTouch {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: 40px;
    }

    .dlMode {
        padding: 0;
        justify-self: end;
    }

    .headerButtonMobile {
        width: 160px;
        height: 44px;
        background: linear-gradient(229.76deg, #00C2CB -61.91%, #00C2CB 34.74%, #2A45A3 97.61%);
        border-style: none;
        font-size: 16px;
        color: white;
        margin: 50px auto;
    }

    .logo {
        margin-left: 40px;
    }

    .logoMobile {
        margin-left: 50px;
        margin-bottom: 50px;
    }
   
}

@media only screen and (max-width: 500px) {
    .headerSubtext {
        margin-bottom: 20px;
        padding: 50px;
    }
}