.homePageGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    align-items: center;
}

.headerText {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.headerImage {
    justify-self: end;
}

.ourServicesButton {
    width: 200px;
    height: 44px;
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 16px;
    margin-left: 10px;
}
