.ourServicesGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.serviceGrid {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 23px;
    row-gap: 24px;
    margin: auto;
}

.serviceTitle {
    width: 140px;
    height: 30px;

    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    text-align: center;
    letter-spacing: 0.02em;

    background: linear-gradient(246.01deg, #8AF2D0 -1.36%, #3B6FFC 118.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: auto;
    margin-bottom: 30px;
}

.serviceText {
    text-align: center;
}

.serviceBox {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 120px;
    border: 1px solid #323034;
    text-align: center;
}

.getInTouch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.serviceTextSubtitle {
    font-weight: 500;
    width: 30%;
    margin: auto;
    margin-bottom: 48px;
    padding: 0;
}

.getInTouchText {
    margin-right: 10px;
}