
/* Font Import */
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../assets//neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../assets//neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../assets//neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: 700;
}


/* Tag Styles */
body {
    color: white;
    background-color: #09050D;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

h1 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 700;
    font-size: 75px;
}

h2 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
    font-size: 36px;
}

h3 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
    font-size: 36px;
}

h4 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h5 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

p {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

a {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

/* Class Styles */

/* Grid */
.main-grid {
    display: grid;
    grid-template-rows: 100vw;
    grid-template-rows: 10vh 60vh 70vh 100vh 120vh 85vh 90vh 55vh;
}

    .header {
        grid-row: 1;
    }

    .homepage {
        grid-row: 2;
    }

    .our-services{
        grid-row: 3;    
    }

    .why-choose-us {
        grid-row: 4;
    }

    .our-portfolio {
        grid-row: 5;
    }

    .testimonial {
        grid-row: 6;
    }

    .contact-form {
        grid-row: 7;
    }

    .footer {
        grid-row: 8;
    }


/* Other Global Classes */

.pageTitle {
    font-size: 20px;
    letter-spacing: 0.02em;
    background: linear-gradient(246.01deg, #8AF2D0 -1.36%, #3B6FFC 118.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 10px;
}

.get-in-touch-button {
    width: 200px;
    height: 44px;
    background: linear-gradient(229.76deg, #00C2CB -61.91%, #00C2CB 34.74%, #2A45A3 97.61%);
    border-style: none;
    font-size: 16px;
    color: white;
}

/* Get in touch */

.get-in-touch-box {
    display: grid;
    width: 90%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #18151B;
    justify-content: stretch;
    padding: 0;
    margin: 0;
}

.get-in-touch-title {
    margin: 20px;
    margin-bottom: 0;
}

.get-in-touch-subtitle {
    margin: 20px;
    margin-top: 10px;
    color: #9C9C9C;
}

.get-in-touch-button-box {
    justify-self: flex-end;
}
.get-in-touch-button {
    margin: 20px;
}

.margin-top {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 50px;
}

.margin-auto {
    margin: auto;
}

.center {
    text-align: center;
}
