
/* Font Import */
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../assets//neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../assets//neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../assets//neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: 700;
}


/* Tag Styles */
body {
    color: white;
    background-color: #09050D;
}

h1 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
}

/* Class Styles */


/* Grid */
.main-grid {
    display: grid;
    grid-template-rows: 10vh 60vh 60vh 100vh 100vh 75vh 70vh 45vh;
}

    .header {
        grid-row: 1;
        background-color: blanchedalmond;
    }

    .homepage {
        grid-row: 2;
        background-color: blanchedalmond;
    }

    .our-services{
        grid-row: 3;
        background-color:aq;
    }

    .why-choose-us {
        grid-row: 4;
    }

    .our-portfolio {
        grid-row: 5;
    }

    .testimonial {
        grid-row: 6;
    }

    .contact-form {
        grid-row: 7;
    }

    .footer {
        grid-row: 8;
    }



